.basicButton {
    position: relative;
    outline: none;
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
}

.primaryColor {
    background: #09d3ac;
    border-color: #09d3ac;
}

.secondaryColor {
    background: blueviolet;
    border-color: blueviolet;
}

.outlineButton {
    width: 210px;
    height: 42px;
    background: none;
}

.containButton {
    width: 210px;
    height: 42px;
    border: none;
}

